<link rel="stylesheet" href="http://glenn.chen02.googlepages.com/monkey.css" type="text/css">
<link rel="SHORTCUT ICON" href="http://glenn.chen02.googlepages.com/redapple.ico" >
<div id="title_bar">
<div id="title">Contact</div>
</div><br/>

<strong>Founder:</strong> Glenn Y. Chen<br/>  glenn.chen01 <i>at</i> gmail.com <br/><br/>

<strong>Co-Founder:</strong> Jie Sung<br/> puffkitty2000 <i>at</i> yahoo.com<br/><br/>


<br/>
Hi, <br/><br/>

This site is built with Python, a great language used in <a href="http://google.com">Google</a>, <br/>
and powered by <a href="http://www.djangoproject.com">Django</a>, a popular web framework. <br/>
If you have passion writing software or eager to start your own business, <br/>
please do not hesitate to contact us. We can build a great team! <br/><br/>


<a href="/">go back</a><br/>

<a href="/admin/">admin login</a>


