<link rel="stylesheet" href="http://glenn.chen02.googlepages.com/monkey.css" type="text/css">
<link rel="stylesheet" href="http://glenn.chen02.googlepages.com/main.css" type="text/css">
<link rel="SHORTCUT ICON" href="http://glenn.chen02.googlepages.com/redapple.ico" >

  <div id="content">


        <div id="main">

          <ul id="nav">
            <li class="header">Share Ideas</li>
            <li> On your iPhone</li>
            <li><a href="/idea/">View ideas</a></li>
            <li><a href="/idea/post/">Share yours</a></li>
            <li><a href="/contact/">About</a></li>
          </ul>

        </div>
        

<center><pre><small>
</small></pre></center>

