<link rel="stylesheet" href="http://glenn.chen02.googlepages.com/monkey.css" type="text/css">
<link rel="SHORTCUT ICON" href="http://glenn.chen02.googlepages.com/redapple.ico" >
<div id="title_bar">
<div id="title">Post Your Ideas.</div>
</div>
To Make The World Better

<br/>
<br/>
<body style="background-image:url(http://glenn.chen02.googlepages.com/line5.gif)">

<fieldset style="width:240px">
<legend>Post Your Idea:</legend>
<form action="/idea/submit_post/" method="post">

<input type="text" name="title" value="your idea" />
<label>Title&nbsp</label></br>

<input type="text" name="flag" value="default_flag" />
<label>Tag&nbsp</label></br>

<input type="text" name="name" value="your name" />
<label>Name&nbsp&nbsp&nbsp</label></br>


<textarea rows="2" cols="17" name="descr" value="tell me more~"></textarea></br>
<input type="submit" value="Submit" />

</form>
</fieldset>
<br/>
<a href="/idea/">back to the idea list</a>
</body>
